.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    <<<<<<< HEAD align-content: center;
    padding: 1rem;
    position: fixed;
    =======align-items: center;
    padding: 20px;
    /* position: fixed; */
    >>>>>>>1a9d8ac00b72f8935346129e0676f82a52f7e323 top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    background: transparent;

}

.navbar-left .main-logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-right {
    align-content: center;
    justify-content: space-evenly;
}

.nav-item {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin: 12px;
}

#joinus-btn,
#profile-btn {
    background-color: #d19b4e;
    border-radius: 18px;

}

#joinus-btn a,
#profile-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding-block: 4px;
}

.nav-item:hover {
    color: #b3b3b3;
}

/* Menu icon for mobile */
.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Navigation menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 35px;
        right: 0px;
        background-color: rgb(3, 19, 26);
        border: 1px solid #333;
        padding: 10px;
        gap: 1rem;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-menu.active {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
        display: flex;
        width: 100px;
    }

    .navbar-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #joinus-btn {
        border-radius: 12px;
    }


}