:root {
    --timing: 800ms;
}

* {
    margin: 0;
    box-sizing: border-box;
    perspective: 1000px;

}

body {
    display: grid;
    place-content: center;
    min-height: 100%;
}

/*--------------------------Card css------------------------*/
img {
    max-width: 100%;
}

.muscles {
    width: 300px;
    aspect-ratio: 9 / 12;
    /* background-image: url("/static/bg_chubby.jpeg"); */

    position: relative;
    transform-style: preserve-3d;
    transition: rotate var(--timing) ease;
}

.muscles:hover {
    rotate: x 35deg;
}

.muscles::before {
    content: "";
    position: absolute;
    inset: 0;
    background: lime;
    z-index: 100;
    background-image: radial-gradient(circle);
}

.muscles::after {
    content: "";
    position: absolute;
    inset: 80% 1.5rem 1.5rem;
    translate: 0;
    background: red;
    filter: blur(1rem);
    z-index: 1;
    transition: translate var(--timing);
}

.muscles:hover::after {
    rotate: x -30;
    translate: 0 40px;
}

.bg-muscles {
    position: absolute;
    z-index: 10;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo,
.front-image {
    position: absolute;
    opacity: 0;
}

/*--------------------------Card css------------------------*/






/*--------------------------Anas--------------------------*/
.message {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    animation: message 2s forwards;
}

@keyframes message {
    100% {
        display: none;
    }
}


.profile {
    padding: 10px;
}

.member-progress {
    display: block;
    margin: auto;
    width: fit-content;


}

.member-progress h2 {
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #222;
    font-size: 16px;

}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
    margin-left: 15px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;

}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    float: right;
    margin-top: -15px;
    margin-right: -30px;
    margin-left: 30px;
    color: #959595;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(100, 248, 1);

}

.progress {

    background: rgb(100, 248, 1);
    animation: progress 1s linear forwards;
}

.workout {
    margin-top: 30px;
    display: flex;
    width: fit-content;
    align-items: center;

}

.workout a {
    text-decoration: none;
}

/* .wo1,
.wo2,
.wo3 {
    width: 30%;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
} */

/* .workout img {
    width: 100%;
    text-align: center;
} */

@keyframes progress {
    100% {
        width: var(--width);
    }
}

/*--------------------------Anas--------------------------*/