/* Define a simple, clean style for the timer and buttons */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#message {
    font-size: 1.5em;
    margin-top: 10px;
    color: green;
}

#timer {
    font-size: 36px;
    /* Decrease font size for smaller screens */
    margin-bottom: 15px;
    /* Reduce bottom margin for smaller screens */
    color: green;
    font-weight: bold;
}

button {
    font-size: 16px;
    /* Decrease font size for smaller screens */
    padding: 8px 16px;
    /* Decrease padding for smaller screens */
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn {
    background-color: green;
    color: white;
}

#pause-resume-btn {
    background-color: #5bc0de;
    color: white;
}

#pause-resume-btn:hover {
    background-color: #31b0d5;
}

#finish-btn {
    background-color: #d9534f;
    color: white;
}

#finish-btn:hover {
    background-color: #c9302c;
}

/* Responsive Design for iPhone */
@media only screen and (max-width: 480px) {
    #timer {
        font-size: 24px;
        /* Further decrease font size for iPhone */
        margin-bottom: 10px;
        /* Further reduce bottom margin for iPhone */
    }

    button {
        font-size: 14px;
        /* Further decrease font size for iPhone */
        padding: 6px 12px;
        /* Further decrease padding for iPhone */
    }
}