@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    position: absolute;
    width: 100%;
}

/*------------Exercise Container -------*/
.exercise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0;
    height: 80%;
    width: 40%;
    border-radius: 16px;
    background: whitesmoke;
    box-shadow: 0px 5px 12px #292929;
    text-decoration: none;


}

.exercise-container h2,
li,
p {
    font-weight: 500;
    text-decoration: none;
}

#exercise-list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    list-style-type: none;
}

.exercise-item {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}


.button-layout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 20%;
    width: 70%;
    padding: 2% 2%;
    margin-top: auto;
    gap: 1rem;
}

#start-btn {
    width: 8rem;
    background: none;
    cursor: pointer;
    transition: all .55s ease;

}

#start-btn:hover {
    color: #292929;
    transform: translateX(5px);
}

#start-btn:active {
    border: none;



}


#finish-btn {
    color: whitesmoke;
    background: gray;
    border: none;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .55s ease;

}


#finish-btn:hover {
    background: green;
    color: #292929;
    transform: translateX(5px)
}

#finish-btn a {
    padding: 1rem 2rem;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}


#return-btn {
    color: whitesmoke;
    background: gray;
    border: none;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .55s ease;

}

#return-btn a {
    padding: 1rem 2rem;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

#return-btn:hover {
    background: red;
    color: #292929;
    transform: translateX(5px)
}


#pause-resume-btn {
    width: 8rem;
    background: none;
    cursor: pointer;

}

#timer {
    font-size: 3vw;
    font-weight: 700;
}

#message {
    font-size: 2vw;
    font-weight: 700;
}

/* Responsive Design for iPhone */
@media only screen and (max-width: 480px) {
    #timer {
        font-size: 24px;
        margin-bottom: 10px;
    }

    button {
        font-size: 14px;
        padding: 6px 12px;
    }

    #finish-btn {
        width: 80%;
        padding: 0.5rem 1rem;
        font-size: 14px;
    }
}