@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    position: absolute;
    width: 100%;
}

/*------------Exercise Container -------*/
.exercise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0;
    height: 80%;
    width: 40%;
    border-radius: 16px;
    background: whitesmoke;
    box-shadow: 0px 5px 12px #292929;
    text-decoration: none;


}

.exercise-container h2,
li,
p {
    font-weight: 500;
    text-decoration: none;
}

#exercise-list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    list-style-type: none;
}

.exercise-item {
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}


.button-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 20%;
    padding: 2% 2%;
    margin-top: auto;
    gap: 1rem;
}

#start-btn {
    width: 8rem;
    background: none;
    cursor: pointer;
    transition: all .55s ease;

}

#start-btn:hover {
    color: #292929;
    transform: translateX(5px);
}

#start-btn:active {
    border: none;

}


#finish-btn {
    color: whitesmoke;
    background: gray;
    border: none;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .55s ease;

}


#finish-btn:hover {
    background: green;
    color: #292929;
    transform: translateX(5px)
}

#finish-btn a {
    padding: 1rem 2rem;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}


#return-btn {
    color: whitesmoke;
    background: gray;
    border: none;
    border-radius: 35px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .55s ease;

}

#return-btn a {
    padding: 1rem 2rem;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

#return-btn:hover {
    background: red;
    color: #292929;
    transform: translateX(5px)
}


#pause-resume-btn {
    width: 8rem;
    background: none;
    cursor: pointer;

}

#timer {
    font-size: 3vw;
    font-weight: 700;
}

#message {
    font-size: 2vw;
    font-weight: 700;
}

/* Responsive Design for iPhone */
@media (max-width: 430px) {
    .exercise-container {
        display: flex;
        width: 100%;
    }

    #timer {
        font-size: 24px;
        margin-bottom: 10px;
    }

    button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .button-layout {
        display: flex;
        gap: 3rem;
    }

    #finish-btn {
        color: whitesmoke;
        background: green;
        border: none;
        border-radius: 35px;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 75px;
    }

    #return-btn {
        color: whitesmoke;
        background: red;
        border: none;
        border-radius: 35px;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
        width: 75px;
    }

    .video_url {
        width: 100%;
        height: 50%;
    }

    #start-btn {
        background: transparent;
        width: 75px;
    }

    img {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        scale: 135%;
    }

    .exercise-item {
        text-align: center;
        font-size: 8vw;
    }

    #timer {
        font-weight: 700;
        font-size: 12vw;
    }

    #message {
        font-size: 6vw;
        font-weight: 700;
        text-wrap: nowrap;
    }
}