{% extends 'fitness_jerk/base.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block title %}LOGIN{% endblock %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% block content %}

<div class="login-main">
    <div class="quote-small">
      <p>NOTHING IS IMPOSSIBLE</p>
    </div>
    <div class="quote-text">
      <h2>REACH YOUR<br>GOALS</h2>
    </div>
    <div class="google-login-btn">
            {% element form method="post" no_visible_fields=True %}
                {% slot actions %}
                    {% csrf_token %}
                    <p style="color: whitesmoke;">Please click
                    {% element button type="submit" class="login-btn"%}
                        {% trans "here" %} 
                    {% endelement %} to continue login with Google accounts </p>
                {% endslot %}
            {% endelement %} 
    </div>
{% endblock %}