{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>PROFILE</title>
</head>
<body>

    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div> 
    </div>
    <div class="profile">
        {% if member.image %}
            <img src="{{member.image.url}}" alt="profile-image" style="width: 150px;">
        {% endif %}
        <h1>{{user.username}}</h1>
        
        <p>Height: {{ member.height }} m</p>
        <p>Weight: {{ member.weight }} kg</p>
        <p>BMI: {{ BMI }}</p>
        <p>Progress: {{ progress }}</p>
        
    </div>
    <div class="member-progress">
        <h2>PROGRESS</h2>
        <div class="progress-bar">
            <div class="progress" style="--width: {{ progress }};"><span>{{ progress }}</span></div>
        </div>
    </div>
    <div class="post">
        {% for post in posts %}
            <li>{{ post.post }}</li>
        {% endfor %}
    </div>
    <div class="workout">
        <div class="wo1"><a href="{% url 'finish' %}"><img src="{% static 'LOOSE.png' %}" alt=""></a></div>
        <div class="wo2"><a href=""><img src="{% static 'TONE.png' %}" alt=""></a></div>
        <div class="wo3"><a href=""><img src="{% static 'MUSCLE.png' %}" alt=""></a></div>
    </div>

</body>
</html>

