{% extends 'fitness_jerk/base.html' %}
{% load static %}

{% block content %}
<div class="login-main">
  <div class="quote-small">
    <p>Look's like good habits isn't the only thing forgotten..</p>
  </div>
  <div class="quote-text">
    <h2>PLEASE, ENTER<br>YOUR EMAIL</h2>
  </div>
  <div class="login-menu" id="login-menu">
    <div class="login-box">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email" placeholder="Email">
        </div>
        <button type="submit" class="reset-btn">Reset password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}