{% extends 'fitness_jerk/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Settings</title>

{% block content %}
<div class="profile">
    <form action="" method=POST>
        {% csrf_token %}
        <h1>{{ member.username }}</h1><br><br>
        <h1>Are you sure you want to delete your
            account?</h1>
        <br><br>
        <button><a href=" {% url 'profile' %}">Back to profile</a></button>
        <div class="delete">
            <input type="submit" value="Delete">
        </div>
    </form>
    <script src="{% static 'navbar_js.js' %}"></script>
</div>

{% endblock %}