{% extends 'fitness_jerk/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Delete</title>

{% block content %}
<div class="profile_delete">
    <h1>{{ member }}</h1><br><br>
    <h2>Are you sure you want to delete your account?</h2><br><br>
    <form action="" method=POST class="delete_form">
        {% csrf_token %}
        <button class="back_profile"><a href=" {% url 'profile' %}">Back to profile</a></button><br><br>
        <button type="submit" class="delete">Delete</button>
    </form>
    <script src="{% static 'navbar_js.js' %}"></script>
</div>

{% endblock %}