{% extends 'fitness_jerk/base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Delete</title>

{% block content %}
<div class="profile_delete">
    <div class="delete_confirmation">
        <h1>{{ member }}</h1><br><br>
        <h2>Are you sure you want to delete your account?</h2><br><br>
        <form action="" method=POST class="delete_form">
            {% csrf_token %}
            <a href="{% url 'profile' %}"><button type="button" class="back_profile">Back to profile</button></a>
            <br><br>
            <button type="submit" class="delete">Delete</button>
        </form>
        <script src="{% static 'navbar_js.js' %}"></script>
    </div>
</div>

{% endblock %}