{% extends 'fitness_jerk/base.html' %}
{% load static %}

{% block title %}Training Build it all!{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/timer_css.css' %}">
<div class="exercise-container">
    <h2>Exercises</h2>

    <ul id="exercise-list">
        {% if exercises %}
        {% for exercise in exercises %}
        <li class="exercise-item" data-duration="{{ exercise.duration }}" data-name="{{ exercise.name }}"
            style="display: none;">
            <iframe class='video_url' width="500" height="340"
                src="{{ exercise.video_url }}?start={{ exercise.start_time }}&end={{ exercise.end_time }}"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe><br>
            <span class="exercise-name">{{ exercise.name }}</span>
        </li>
        {% endfor %}
        {% endif %}
    </ul>

    <div id="message">
        <p>TIMER:</p>
    </div>

    <div id="timer">
        30 seconds
    </div>

    <div class="button-layout">
        <button id="start-btn" data-play-icon="{% static 'play.svg' %}" data-pause-icon="{% static 'pause.svg' %}">
            <img src="{% static 'play.svg' %}" alt="PlayPause" fill="red">
        </button>
        <button id="finish-btn">
            <a href="{% url 'finish' %}">Done!</a>
        </button>
        <button id="return-btn">
            <a href="{% url 'profile' %}">Give up!</a>
        </button>
    </div>

    <script src="{% static 'timer_js.js' %}"></script>
</div>
{% endblock %}