
{% extends 'base.html' %}

{% load static %}

{% block title %}Training Loose It All!{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/timer_css.css' %}">
<h1>FitBastards Timer</h1>

<button id="start-btn">Start</button>
<button id="pause-resume-btn">Pause</button>
<button id="finish-btn" style="display:none;"><a href="{% url 'finish' %}">Finish</a></button>


<h1>Exercise List</h1>
<h2>Exercises</h2>

<ul id="exercise-list">
    {% if exercises %}
    {% for exercise in exercises %}
    <li class="exercise-item" data-duration="{{ exercise.duration }}" data-name="{{ exercise.name }}"
        style="display: none;">
        <span class="exercise-name">{{ exercise.name }}</span>
    </li>
    {% endfor %}
    {% endif %}
</ul>

<div id="message">Start</div>
<div id="timer"></div> <!-- Initialize with 30 seconds -->

<script src="{% static 'timer_js.js' %}"></script>
{% endblock %}