{% extends 'fitness_jerk/base.html' %}
{% load static %}

{% block title %}Welcome to FitBastards{% endblock %}
<h1>Hello World</h1>
{% block content %}

<div class="image-container">
    <div class="outer-box"></div>
    <img class="landing-page" src="{% static 'landing_page.png' %}" alt="">
    <div class="h1">FITBASTARDS</h1>
        <p class="about-text">
            A Message from Your Fit Future Self: Welcome To FitBastards, Your Ultimate Personal Trainer App.
            Hey there,

            I know this might sound a bit unusual...

        </p>
        <br><a href="{% url 'about' %}" class="learn-more-btn">Learn More ></a>
        <a href="{% url 'signup' %}" class="join-us-btn"> Join us </a>
    </div>
</div>
</div>

{% endblock%}