{% extends 'fitness_jerk/base.html'%}
{% load static %}

{% block title %}About FitBastards{% endblock %}
{% block content %}
<div class="about-us-container">
    <p class="about-us">
        Hey there,<br>

        I know this might sound a bit unusual, but hear me out. I'm you, from a not-so-distant future where you're
        feeling
        incredibly fit, energized, and healthy. Remember those moments when you wished you were in better shape? Well,
        let's
        just say we've conquered that mountain, and it feels fantastic.<br><br>

        Now, I'm not here to boast about my achievements or flaunt my six-pack abs (okay, maybe just a little). Instead,
        I'm
        here to tell you about something that has been an absolute game-changer on this journey: FitBastards.<br><br>

        Imagine having your very own personal trainer, except it's not some intimidating figure barking orders at you
        from
        across the gym. No, it's something much cooler—it's you who's barking orders at <b>YOURSELF!</b> But of course a
        fitter,
        more knowledgeable version of
        you.<br><br>

        FitBastards isn't just another fitness app; it's like having your future self right in your pocket, guiding you
        through every workout, meal, and lifestyle choice. It's the ultimate accountability partner, cheerleader, and
        coach—all rolled into one sleek, user-friendly interface.<br><br>

        Remember those days when you struggled to stay consistent with your workouts? Well, with FitBastards, those days
        are
        long gone. It creates personalized workout plans tailored specifically to your goals, fitness level, and
        schedule.
        No more guessing games or endless scrolling through YouTube for workout videos. Just clear, concise guidance
        that
        gets results.<br><br>

        So, why am I telling you all this? Because I wish I had discovered FitBastards sooner. I wish I could go back in
        time and tell my past self that getting fit doesn't have to be a daunting task. With the right tools and
        mindset,
        anything is possible.<br><br>

        So, my dear present self, consider this your wake-up call. Take the first step towards a healthier, happier you
        by
        downloading FitBastards today. Your future self will thank you.<br><br>

        Here's to becoming the best version of yourself—one workout at a time.<br><br>

        Signed,
        Your Fit Future Self
    </p>
    <script src="{% static 'navbar_js.js' %}"></script>
</div>
{% endblock %}