{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar_css.css' %}">
<nav class="navbar">
    <div class="navbar-left">
        <a href="#" class="logo">FitBastard</a>
    </div>
    <div class="navbar-right">
        <div class="menu-icon" id="menu-icon">&#9776;</div>
        <div class="nav-menu" id="nav-menu">
            <div id="signin-btn">
                <a href="{% url 'login' %}" class="nav-item">Sign in</a>
            </div>
            <div id="joinus-btn">
                <a href="{% url 'signup' %}" class="nav-item">Join us</a>
            </div>
        </div>
    </div>
</nav>