{% extends 'fitness_jerk/base.html' %}
{% load static %}

{% block title %}User Profile{% endblock %}

{% block content %}


<div class="row">
    <div class="success_message">
        {% for message in messages %}
        <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="rightcolumn">
        <div class="intro">
            <div class="post">

                <div class="hello">
                    <h1>Hello</h1>
                    <h1 style="text-transform: capitalize; margin-left: 10px;">{{user.username}}</h1>
                </div>
                <br>
                {% if posts.post %}
                <p>{{ posts.post }}</p>
                {% else %}
                <p>Welcome. Finally started you Bastard!!!</p>
                {% endif %}
            </div>
            <div class="profile">
                <h3 style="text-align: left; margin-bottom: 10px;">Profile</h3>
                <div class="profile_pic">
                    {% if user.members.image %}
                    <img src="{{member.image.url}}" alt="profile-image">
                    {% endif %}
                </div>
                <hr>
                <div class="details">
                    <div class="height" style="padding: 10px;">
                        <p>{{ user.members.height }} m<br></p>
                        <p style="color: rgb(170, 167, 167);">Height</p>
                    </div>
                    <div class="weight" style="padding: 10px;">
                        <p>{{ user.members.weight }} kg<br></p>
                        <p style="color: rgb(170, 167, 167);">Weight</p>
                    </div>
                    <div class="bmi" style="padding: 10px;">
                        <p>{{ BMI }}<br></p>
                        <p style="color: rgb(170, 167, 167);">BMI</p>
                    </div>
                    <div class="progress_workouts" style="padding: 10px;">
                        <p>{{ user.members.workouts_done }}<br></p>
                        <p style="color: rgb(170, 167, 167);">Current<br>Workouts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="leftcolumn">
        <div class="member-progress">
            <h2>{{ level }}</h2>
            <div class="progress-bar">
                <div class="progress" style="--width: {{ progress }};"><span>{{ progress }}</span></div>
            </div>
        </div>
        <div class="workout carousal">
            <h3 style="margin-left: 15px;">Workouts</h3>

            <div class="muscles">
                <a href="{% url 'workout' exercise_type='build-muscle' %}">
                    <img class="logo" src="{% static 't_build_muscles.png' %}" alt="">
                    <img class="front-image" src="" alt="">
                    <img class="bg-muscles" src="{% static 'fitpeople.jpg' %}" alt="">
                </a>
            </div>
            <div class="muscles">
                <a href="{% url 'workout' exercise_type='loose-weight'%}">
                    <img class="logo" src="{% static 't_weight_loss.png' %}" alt="">
                    <img class="front-image" src="" alt="">
                    <img class="bg-muscles" src="{% static 'fitpeople.jpg' %}" alt="">
                </a>
            </div>

            <div class="muscles">
                <a href="{% url 'workout' exercise_type='tone-down' %}">
                    <img class="logo" src="{% static 't_tone_down.png' %}" alt="">
                    <img class="front-image" src="" alt="">
                    <img class="bg-muscles" src="{% static 'fitpeople.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}