{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/settings.css' %}">



<div class="profile">
    <form action="" method=POST enctype="multipart/form-data">
        {% if context.member.image %}
        <img src="{{context.member.image.url}}" alt="profile-image" style="width: 150px;">
        {% endif %}
        <p>Username: {{ context.member.username }}</p>
        {% csrf_token %}
        {{ profile_form.as_p }}
        <br>
        <p>BMI: {{ context.BMI }}</p>
        <p>Progress: {{ context.progress }}</p><br>
        {% csrf_token %}
        {{ profile_pic.as_p }}
        <br><br>
        <input type="submit" value="Update">
        <br><br>
        <p>Click <a href="{% url 'delete' %}">here</a> if you would to delete your account.</p>
    </form>
</div>



<script src="{% static 'navbar_js.js' %}"></script>

{% endblock %}