{% extends 'fitness_jerk/base.html' %}
{% load static %}

{% block title %}User Settings{% endblock %}
{% block content %}


<div class="profile_settings">
    <form action="" method=POST enctype="multipart/form-data">
        {% if context.member.image %}
        <img src="{{context.member.image.url}}" alt="profile-image" style="width: 300px;">
        {% endif %}
        <p>Username: {{ user.username }}</p>
        {% csrf_token %}
        {{ profile_form.as_p }}
        <br>
        <p>BMI: {{ context.BMI }}</p>
        <p>Workouts: {{ context.member.progress }}</p><br>
        {% csrf_token %}
        {{ profile_pic.as_p }}
        <br><br>
        <div class="submit-btn">
            <input type="submit" value="Update">
        </div>
        <br><br>
        <p>Click <a href="{% url 'delete' %}">here</a> if you would to delete your account.</p>
    </form>
</div>



<script src="{% static 'navbar_js.js' %}"></script>

{% endblock %}